/* Navbar Styles */
.navbar {
    background-color: #0074D9; /* Blue background color */
    color: white; /* White text color */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
  }
  
  /* Stylish Link Styles */
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .nav-link:hover {
    color: #001f3f; /* Darker blue color on hover */
  }
  